<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <form class="d-flex" role="amount">
      <input
        class="form-control me-2"
        type="number"
        placeholder="Amount"
        aria-label="Amount"
      />
      <input
        class="form-control me-2"
        type="text"
        placeholder="Description"
        aria-label="Description"
      />
      <button class="btn btn-outline-success" type="submit">Add</button>
    </form>
  </div>
</nav>
