.bg-body-tertiary {
  height: 20vh;
  text-align: center;
  justify-content: center;

  display: flex;
}

.amount {
  /* color: aquamarine; */
  text-align: center !important;
  font-size: medium;
  justify-content: center;
  font-size: 34px;
}
