.bg-body-tertiary {
  /* height: 15vh; */
  text-align: center;
  justify-content: center;
}

.container-fluid {
  justify-content: center !important;
  text-align: center !important;

  flex-shrink: inherit;
  height: fit-content;
}
.form-switch {
  margin: auto;
  padding: inherit;
}
.form-check-input:checked {
  background-color: purple;
  border-color: purple;
}
.form-check-input:focus {
  border-color: none;
  outline: 0;
  box-shadow: none;
}
.btn {
  background-color: purple;
}

input.ng-valid.ng-dirty.ng-untouched.ng-touched {
  background-color: white !important;
}
