.row {
  background-color: white !important;
  justify-content: center;
  text-align: center;
  margin: 5vh;
}
.card {
  margin-bottom: 10px;
  height: 6vh;
  display: flex;
  background-color: whitesmoke;
  cursor: pointer;
}

.card-body {
  overflow: hidden;
  object-fit: contain;
  height: 10vh;
  padding: 1vh;
  font-size: medium;
  margin-bottom: auto;
  justify-content: space-between;
}

/* button {
  overflow: hidden;
  object-fit: contain;
} */

span {
  border-radius: 1vh;
  flex: 0.15;
  font-family: "Courier New", Courier, monospace;
}

p {
  font-family: "Courier New", Courier, monospace;
}

button {
  position: absolute;
  height: 12px;
  width: 12px;
  right: -6px;
  top: -8px;
  bottom: -5px;
  border-radius: 60%;
  background-color: rgb(219, 220, 226);
  /* transform: scale(0); */
}
